@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300;1,400&display=swap');

#top-section {
    background: linear-gradient(to left top, #dd6e42, #e2614e, #e4545d, #e34a6d, #dd427e) !important;
    min-height: 18rem;
}

#logo-image {
    height: 3.2rem;
    width: 3.2rem;
    margin-top: 0.4rem;;
}

#top-section div {
    margin: 0.8rem 0;
}

#top-section div span {
    margin: 0 0.2rem;
}

.custom-btn {
    border-radius: 8px;
    background-color: rgb(250, 129, 29);
}

#download-tag {
    font-size: 2rem;
    color: #222;
    font-family: 'Ubuntu', sans-serif;
}

img {
    width: 16rem;
    height: 16rem;
}

.resp-img {
    width: 7rem;
    height: 7rem;
    margin: 2rem 3rem;
}

.card {
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
    background: #607d8b !important;
}

#features {
    background: linear-gradient(to left top, #6396e3, #00abde, #00b7ba, #50bc88, #9fb962) !important;
}

@media screen and (max-width: 370px) {
    
    #top-section {
        height: 24rem;
    }

    #top-section div span {
        display: block;
        margin: 1rem 1rem;
    }

    #top-section div:nth-child(2) {
        display: flex;
        flex-direction: column;
    }

    #top-section div span:nth-child(2) {
        order: 1;
    }

    #top-section div span:nth-child(1) {
        order: 2;
    }

    .row {
        text-align: center;
    }

    #window-download {
        display: flex;
        flex-direction: column;
    }

    #window-download div:nth-child(1) {
        order:2;
    }

    #window-download div:nth-child(2) {
        order:1;
    }
}
