* {
    font-family: 'Oxygen', sans-serif;
}

.gradient {
    /** Thanks to cssgradient.io */
    background: rgb(35,87,198);
    background: linear-gradient(-135deg, rgba(35,87,198,1) 0%, rgba(176,56,151,1) 0%, rgba(252,139,69,1) 100%);
}

#top-section {
    min-height: 25rem;
}

#logo-image {
    height: 3.2rem;
    width: 3.2rem;
    margin-top: 0.4rem;;
}

#top-section div span {
    margin: 0 0.2rem;
}

.custom-btn {
    border-radius: 8px;
    background-color: rgb(250, 129, 29);
}

.custom-btn:hover {
    background-color: rgb(247, 153, 76) !important;
}

.custom-btn:focus {
    background-color: rgb(253, 84, 135) !important;
}

#download-tag {
    font-size: 2rem;
}

img {
    width: 16rem;
    height: 16rem;
}

.resp-img {
    width: 7rem;
    height: 7rem;
    margin: 2rem 3rem;
}

.card {
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
    background: #607d8b !important;
}

#features {
    background: #fdfbfb;
}

@media screen and (max-width: 370px) {

    #top-section {
        height: 24rem;
    }

    #top-section div span {
        display: block;
        margin: 1rem 1rem;
    }

    #top-section div:nth-child(2) {
        display: flex;
        flex-direction: column;
    }

    #top-section div span:nth-child(2) {
        order: 1;
    }

    #top-section div span:nth-child(1) {
        order: 2;
    }

    .row {
        text-align: center;
    }

    #window-download {
        display: flex;
        flex-direction: column;
    }

    #window-download div:nth-child(1) {
        order:2;
    }

    #window-download div:nth-child(2) {
        order:1;
    }
}
