@font-face {
  font-family: 'Finger Paint';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/FingerPaint/FingerPaint-Regular.ttf) format('truetype');
}

.styled-text {
  font-family: 'Finger Paint', cursive;
}

.card, .card-content, .card-action {
  border-radius: 8px !important;
}

.card:hover {
  transition: transform 0.1s;
  transform: scale(1.05);
}

