#top-section {
    background: linear-gradient(to left top, #6396e3, #00abde, #00b7ba, #50bc88, #9fb962) !important;
    height: 18rem;
}

#top-section div {
    margin: 0.8rem 0;
}

#top-section div span {
    margin: 0 0.2rem;
}

.custom-btn {
    border-radius: 8px;
}

#download-tag {
    font-size: 2rem;
    color: #222;
}

img {
    width: 16rem;
    height: 16rem;
}

.resp-img {
    width: 11rem;
    height: 11rem;
}

@media screen and (max-width: 370px) {
    
    #top-section {
        height: 24rem;
    }

    #top-section div span {
        display: block;
        margin: 1rem 1rem;
    }

    #top-section div:nth-child(2) {
        display: flex;
        flex-direction: column;
    }

    #top-section div span:nth-child(2) {
        order: 1;
    }

    #top-section div span:nth-child(1) {
        order: 2;
    }
}
