@import '../../../sass/sizes';

select {
  display: block;
  border-radius: $borderRad;
  margin-top: 1rem !important;
  height: 3rem;
  width: 100%;
}

.select-label-col {
  height: 3rem;
  margin-top: 1rem;
}

.select-label-col label {
  margin-left: auto;
}

select:focus, button:focus {
  outline: none;
}
