@import '../../../sass/sizes';

select {
  display: block;
  border-radius: $borderRad;
  margin-top: 1rem !important;
  height: 3rem;
  width: 100%;
}

select:focus, button:focus {
  outline: none;
}
