#main {
  min-height: 100vh;
}

.page-btn {
  margin-top: 45vh;
  position: absolute !important;
}

.page-btn.right {
  right: 1rem;
}

.page-btn.left {
  left: 1rem;
}

.undo-redo-btns {
  position: fixed;
  height: 0;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
