.bottom-toolbar {
  position: absolute;
  bottom: 0.5rem;
  left: 10%;

  height: 3.5rem;
  width: 80%;
  border-radius: 1rem;
}

.bottom-toolbar button {
  height: 100%;
  width: 10%;
  max-width: 5.5rem;
  padding: 0px;
  border-radius: 0;
}

.top-toolbar.left {
  left: 7%;
}

.top-toolbar.right {
  left: 52%;
}

.top-toolbar {
  position: absolute;
  left: 30%;
  top: 0.5rem;
  box-shadow: none;

  height: 2rem;
  width: 40%;
  border-radius: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;

  text-align: center;
}

.top-toolbar input[type=range] {
  width: 70%;
}

.top-toolbar label {
  width: 30%;
  user-select: none;
}

input[type=range] {
  border: none !important;
}

.save-type {
  user-select: none;
  padding: 1rem;
  border-radius: 0.3rem;
  transition: border 300ms;
}

.save-type h6 {
  margin: 0;
}

.save-row .col {
  min-height: 100% !important;
}

.vertical-separator-line {
  display: inline-block;
  width: 0;
  padding: none;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  vertical-align: middle;
  height: 75%;
}

.color-circle {
  width: 5px;
  height: 5px;
  position: absolute;
  left: calc(50% - 2.5px);
  border-radius: 50%;
  bottom: 2px;
}
