@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Oxygen/Oxygen-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Finger Paint';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/FingerPaint/FingerPaint-Regular.ttf) format('truetype');
}

* {
  font-family: 'Oxygen';
}

.styled-text {
  font-family: 'Finger Paint';
}

html, body {
  margin: 0;
  padding: 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px -1px 3px rgba(0,0,0,0.2);
}

#pages {
  min-height: 100vh;
}

.header-text {
  user-select: none;
  font-size: xx-large;
  font-weight: bold;
}

.btn {
  border-radius: 0.3rem;
  box-shadow: none !important;
  margin-right: 0.5rem;
}

.btn-floating {
  box-shadow: none !important;
}

.btn-floating > i {
  margin-top: -1px;
  margin-left: -1px;
}

.dropdown-content {
  border-radius: 0.3rem;
}

.dropdown-content .btn-flat {
  height: 100%;
  width: 100%;
}

.modal {
  border-radius: 0.5rem;
}

.card, .card-content {
  border-radius: 0.3rem !important;
  box-shadow: none;
}

.card-action {
  border-bottom-left-radius: 0.3rem !important;
  border-bottom-right-radius: 0.3rem !important;
}

.card a:hover, .save-type a:hover {
  text-decoration: underline;
}

.full-height-card {
  height: 100%;
}

.full-height-card .card-content {
  height: calc(100% - 3.5rem);
}

.full-height-card .card-action {
  height: 3.5rem;
}

.full-width {
  width: 100%;
}
