.dropdown-content {
  border-radius: 0.3rem;
  z-index: 1;
}

.dropdown-content ul {
  margin-top: 0;
  margin-bottom: 0;
}

.dropdown-content .btn-flat {
  height: 100%;
  width: 100%;
}

.dropdown-arrow {
  transform: rotate(45deg);
  height: 10px;
  width: 10px;
}
