.dropdown-content {
  border-radius: 0.3rem;
  z-index: 1;

  .btn-flat {
    height: 100%;
    width: 100%;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.dropdown-arrow {
  transform: rotate(45deg);
  height: 10px;
  width: 10px;
}

.horizontal-separator-line {
  display: inline-block;
  height: 0;
  padding: none;
  width: 100%;
  line-height: 2px;
}
