@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Oxygen/Oxygen-Regular.ttf) format('truetype');
}

* {
  font-family: 'Oxygen';
}

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
}

#main {
  min-height: 100vh;
}

.brand-gradient {
  /* Gradient text made using https://cssgradient.io */
  background: rgb(180,58,58);
  background: linear-gradient(143deg, rgba(180,58,58,1) 0%, rgba(253,141,29,1) 24%, rgba(88,69,252,1) 85%);
  /* Gradient text made using https://cssgradient.io  */
}

.gradient-text {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.logo-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: xx-large;
  font-weight: bold;
}

.btn {
  border-radius: 1rem;
  margin-right: 0.5rem;
}
