@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Oxygen/Oxygen-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Finger Paint';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/FingerPaint/FingerPaint-Regular.ttf) format('truetype');
}

* {
  font-family: 'Oxygen';
}

.styled-text {
  font-family: 'Finger Paint';
}

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px -1px 3px rgba(0,0,0,0.2);
}

footer a:hover {
  font-weight: bold;
}

#pages {
  min-height: 100vh;
}

.brand-text {
  color: rgb(250, 129, 29) !important;
}

.logo-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: xx-large;
  font-weight: bold;
}

.btn {
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.dropdown-content {
  border-radius: 1rem;
}

.modal {
  border-radius: 0.5rem;
}

.card, .card-content, .card-action {
  border-radius: 8px !important;
}

.card:hover {
  transition: transform 0.1s;
  transform: scale(1.05);
}

.full-height-card {
  height: 100%;
}

.full-height-card .card-content {
  height: 75%;
}

.full-height-card .card-action {
  height: 25%;
}
