#whiteboard {
  position: relative;
}

.page-btn {
  position: absolute !important;
}

.page-btn.top-right {
  right: 1rem;
  top: 0.5rem;
}

.page-btn.top-left {
  left: 1rem;
  top: 0.5rem;
}

.page-btn.right {
  top: 45vh;
  right: 1rem;
}

.page-btn.left {
  top: 45vh;
  left: 1rem;
}

.svg-real-db-text-cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
