.custom-header {
  -webkit-app-region: drag;
  height: 2rem;
  line-height: 2rem;
  padding-bottom: 0.25rem;
}

.custom-header a, .custom-header button {
  -webkit-app-region: no-drag;
}

.custom-header .btn {
  height: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  padding-left: 5px;
  padding-right: 5px;
}

.custom-header .brand-logo {
  line-height: 2rem;
  font-size: 1rem;
}

.custom-header .btn-floating {
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.5rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  margin-bottom: 0.25rem;
}

.header-text {
  user-select: none;
  font-weight: bold;
}

.header-text.has-subtitle {
  margin-top: 0;
  line-height: 1.1rem;
}

.header-subtitle-text {
  user-select: none;
  font-size: 0.8rem !important;
  color: grey !important;
  margin-top: 0.5rem;
  line-height: 2rem !important;
}

.menu-item {
  height: 1.5rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5rem;
  border: none;
  text-align: left;
  font-size: 1rem;
}

.menu-item .sublabel {
  float: right;
  font-size: 0.8rem;
  color: grey;
}
